.scoreboard {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #61dafb;
    border-radius: 10px;
    padding: 10px;
    height: 200px;
    width: 400px;
    margin-bottom: 15px;
    color: black;

}
.value {
    font-size: 80px;
    color: black;
 }

.settingsMessage {
    font-size:30px;
    text-align: center;
}

.error {
    text-align: center;
    height: 30px;
    color: red;
    font-size:30px;
}

