
.inputWrapper {
    display: flex;
    margin: 40px 10px;
    justify-content: center;
    align-items: center;
}

.input {
    text-align: center;
    border: 2px solid #61dafb;
    height: 30px;
    border-radius: 8px;
}
.input:focus {
    box-shadow: 0 0 5px black;
}

span {
    color: black;
    font-size: 24px;
    margin-right: 40px;
    font-weight: 700;
}

.error {
    border: 2px solid red;
    text-align: center;
    height: 30px;
    border-radius: 8px;
}

